{{> navbar}}

<h2 class="tpage center">Все задачи</h2>

{{#if todos.length}}
  <ul>
    {{#each todos}}
      <li class="todo">
        <form action="/complete" method="POST">
          <label>
            {{#if completed}}
              <input type="checkbox" checked name="completed">
              <span class="completed">{{ title }}</span>
              <span class="created"><b><i>Created: </i></b>{{ date }}</span>
            {{else}}
              <input type="checkbox" name="completed">
              <span>{{ title }}</span>
              <span class="created"><b><i>Created: </i></b>{{ date }}</span>
            {{/if}}

            <input type="hidden" value="{{_id}}" name="id">
            <div>
              <button class="btn btn-small">Save</button>
              <button class="btn btn-small" formaction="/delete">Delete</button>
              <button formaction="{{ _id }}" formmethod="GET" class="btn btn-small"><i class="material-icons prefix">edit</i></button>
            </div>
          </label>
        </form>
      </li>
    {{/each}}
  </ul>
{{else}}
  <p>Нет задач!</p>
{{/if}}